# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
db.sqlite3
**/migrations/*.py
!**/migrations/__init__.py

# VSCode
.vscode/
tickets/
progress.output

# Ignorar todos los archivos .md excepto README.md
*.md
!README.md

# Archivos de configuración local
apache-jmeter-*/
